*{
  margin:0px;
  padding:0px;
}
body{
  background-color: rgb(43,43,72);
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.passwordBox{
  width:150%;
  padding:20px;
  background-color: blueviolet;
  height:300px;
}
.passwordBoxin{
  display:flex;
}
.passwordBoxin input{
  flex-basis:80%;
}
.passwordBoxin button{
  flex-basis:20%;
  padding:10px 0px;
}
.passlengh{
  padding:10px 0px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.passlengh input{
  padding:10px 0px;
  width:60px;
}
.btn{
  width:100%;
  padding:10px 0px;
  cursor:pointer;
}